<div class="row headRow">
    <div class="head">
        <h4>To Do</h4>
    </div>
    <div class="userControls">
        <span class="userName">
            <%= currentUser %>
        </span>
        <form action="/logout" method="GET">
            <input type="submit" class="actionBtn" id=<%= definedControl %> value=<%= definedControl %> >
        </form>
    </div>
</div>